[Desktop Entry]
Name=KDE Analytics Module
Name[ar]=وحدة كدي للتّحليل
Name[ast]=Módulu d'analítiques KDE
Name[ca]=Mòdul per a les analítiques del KDE
Name[ca@valencia]=Mòdul per a les analítiques del KDE
Name[de]=KDE-Analysemodul
Name[en_GB]=KDE Analytics Module
Name[es]=Módulo de análisis de KDE
Name[fi]=KDE:n analytiikkayksikkö
Name[gl]=Módulo de analítica de KDE
Name[hu]=KDE analitikai modul
Name[lt]=KDE analizės modulis
Name[nl]=Module KDE Analytics
Name[pl]=Moduł Analityk dla KDE
Name[pt]=Módulo Analítico do KDE
Name[pt_BR]=Módulo de Análise do KDE
Name[ro]=Modul analitic pentru KDE
Name[ru]=Модуль KDE Analytics
Name[sk]=Modul KDE Analytics
Name[sl]=Modul za analitiko v KDE
Name[sv]=KDE-analysmodul
Name[tr]=KDE Çözümleme Modülü
Name[uk]=Модуль аналітики KDE
Name[x-test]=xxKDE Analytics Modulexx
Name[zh_CN]=KDE 分析模块
Comment=Provides KDE system analytics
Comment[ar]=توفّر تحاليل نظام كدي
Comment[ast]=Apurre analítiques del sistema KDE
Comment[ca]=Proporciona analítiques del sistema KDE
Comment[ca@valencia]=Proporciona analítiques del sistema KDE
Comment[cs]=Poskytuje analýzu systému KDE
Comment[de]=Stellt KDE-Analysedaten bereit
Comment[en_GB]=Provides KDE system analytics
Comment[es]=Proporciona análisis del sistema de KDE
Comment[fi]=Kerää KDE:n järjestelmäanalyysitietoja
Comment[gl]=Fornece analíticas do sistema de KDE.
Comment[hu]=Rendszer-analitikai modul a KDE-hez
Comment[lt]=Teikia analitiką KDE sistemai
Comment[nl]=Biedt de KDE systeemanalyse
Comment[pl]=Dostarcza systemu analityk KDE
Comment[pt]=Oferece alguns dados analíticos sobre o KDE
Comment[pt_BR]=Fornece dados analíticos sobre o sistema KDE
Comment[ro]=Furnizează analize de sistem pentru KDE
Comment[ru]=Собирает статистику использования системы KDE
Comment[sk]=Poskytuje analýzu systému KDE
Comment[sl]=Ponuja sistemsko analitiko za KDE
Comment[sv]=Tillhandahåller KDE-systemanalyser
Comment[tr]=KDE sistem çözümlemesi sağlar
Comment[uk]=Надає аналітику щодо системи KDE
Comment[x-test]=xxProvides KDE system analyticsxx
Comment[zh_CN]=提供 KDE 系统分析
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=kanalytics
X-KDE-DBus-ModuleName=kanalytics
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true
X-KDE-Kded-phase=1
OnlyShowIn=KDE;
